.video {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.video-content {
  width: 100%;
  height: 100%;
  /* 保持视频原有比例填充到外部容器 */
  object-fit: cover;
}
.video-controls {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, .8);
  transition: .5s;
}
.video-controls .video-progress {
  position: relative;
  height: 5px;
  background: #222223;
}
.video-controls .video-progress .video-progress-now {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff6a03;
  z-index: 1;
}
.video-controls .video-progress .video-progress-success {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: #666;
}
.video-controls .video-progress .video-progress-bar {
  position: absolute;
  left: -7px;
  top: -5px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: white;
  z-index: 2;
  cursor: pointer;
}
.video-controls .video-play {
  float: left;
  height: 45px;
  line-height: 45px;
  margin-left: 35px;
}
.video-controls .video-play i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.video-controls .video-time {
  float: left;
  height: 45px;
  line-height: 45px;
  margin-left: 30px;
  color: white;
}
.video-controls .video-full {
  float: right;
  height: 45px;
  line-height: 45px;
  margin-right: 20px;
}
.video-controls .video-full i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.video-controls .video-volume {
  float: right;
  height: 45px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.video-controls .video-volume i {
  font-size: 20px;
  margin-right: 20px;
  color: white;
}
.video-controls .video-volume .video-volprogress {
  position: relative;
  width: 100px;
  height: 5px;
  background: #222223;
}
.video-controls .video-volume .video-volprogress .video-volprogress-now {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #ff6a03;
  z-index: 1;
}
.video-controls .video-volume .video-volprogress .video-volprogress-bar {
  position: absolute;
  left: 50%;
  top: -5px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: white;
  z-index: 2;
  cursor: pointer;
}